body {
    background-color: #33f5f5;
}

#main {
    padding: 1em 0;
}

nav li i {
    padding-right: 5px;
}

header.page-header {
    margin-top: 41px;
    padding: 2em;
    background-color: #005E9C;
    color: #ffffff;
}

.hosts-list {
    min-height: 350px;
    padding-top: 1em;
}

footer {
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #E5E5E5;
}
