{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% load sekizai_tags %}

{% block page-header %}Edit {{ host.name }} ({{ host.ip }}){% endblock %}
{% block content %}
<ul id="tabBar" class="nav nav-tabs">
  <li class="active"><a href="#tab-rules" data-toggle="tab">Firewall rules</a></li>
  <li><a href="#tab-renew" data-toggle="tab">Active until</a></li>
  <li><a href="#tab-settings" data-toggle="tab">Settings</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="tab-rules">
    {% include 'fwadmin/_edit_host_fw_rule_tab.html' %}
  </div>

  <div class="tab-pane" id="tab-renew">
    <h2>{% trans "Active until" %}</h2>
    <p>This host is valid until {{ host.active_until }}</p>
    {% url 'fwadmin:renew_host' host.pk as renew_url %}
    {% include 'fwadmin/_form.html' with submit='Renew' action=renew_url form=null %}
  </div>


  <div class="tab-pane" id="tab-settings">
    <h2>{% trans "Change host config" %}</h2>
    {% include 'fwadmin/_form.html' with submit='Update'%}
  </div>
</div>

{% addtoblock 'js' %}
<script>
  $(function() {
    $("#table_rules").dataTable({
      "bPaginate": false,
      "bFilter": false,
      "aoColumnDefs": [
        { "bSortable": false, "aTargets": [ 4 ] }
      ]   
    });
  });
</script>
{% endaddtoblock %}
{% endblock %}

